export PATH_GEM_DIR=~/repositories/aptus/gems
export PATH_GEM_GIT=ssh://git@vcs.dmz.private.aptus.io:7999
export PATH_GEM_ENV="development"

alias saa='source ~/.bash_aliases_aptus'
alias suite='pushd proofs;ruby suite.rb;popd'
