[general]
ui = TTYUI
accounts = JPBoodhoo
pythonfile = ~/repositories/developwithpassion/devtools/automation/offlineimap/offlineimap.py
fsync = False


[Account JPBoodhoo]
localrepository = JPBoodhoo-Local
remoterepository = JPBoodhoo-Remote
status_backend = sqlite


[Repository JPBoodhoo-Local]
type = Maildir
localfolders = ~/Dropbox/imap_mail/jp-developwithpassion.com
nametrans = lambda folder: {'sent':    '[Gmail]/Sent Mail',
                            'flagged': '[Gmail]/Starred',
                            'trash':   '[Gmail]/Trash',
                            'archive': '[Gmail]/All Mail',
                            'drafts': '[Gmail]/Drafts'
                            }.get(folder, folder)


[Repository JPBoodhoo-Remote]
maxconnections = 1
type = Gmail
cert_fingerprint = 6d1b5b5ee0180ab493b71d3b94534b5ab937d042 
remoteuser = jp@developwithpassion.com
remotepasseval = get_keychain_password(account="jp@developwithpassion.com")
realdelete = no
nametrans = lambda folder: {'[Gmail]/Sent Mail': 'sent',
                            '[Gmail]/Starred': 'flagged',
                            '[Gmail]/Trash': 'trash',
                            '[Gmail]/All Mail': 'archive',
                            '[Gmail]/Drafts': 'drafts'
                            }.get(folder, folder)

folderfilter = lambda folder: folder not in ['[Gmail]/Trash',
                                           '[Gmail]/Spam',
                                           '[Gmail]/Important'
                                           ]                           
